# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
exclude gitlab.env
exclude docs/README.md
exclude docs/screenshot.png
include README.rst
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *